version: 0.65.0
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - stories
streams:
  - type: DeclarativeStream
    name: stories
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          app_url:
            type: string
          archived:
            type: boolean
          blocked:
            type: boolean
          blocker:
            type: boolean
          comment_ids:
            items:
              type: number
            type: array
          completed:
            type: boolean
          created_at:
            type: string
          custom_fields:
            type: array
          deadline:
            type:
              - 'null'
              - string
          description:
            type: string
          entity_type:
            type: string
          epic_id:
            type:
              - 'null'
              - number
          estimate:
            type:
              - 'null'
              - number
          external_links:
            type: array
          file_ids:
            type: array
          follower_ids:
            items:
              type: string
            type: array
          global_id:
            type: string
          group_id:
            type: string
          group_mention_ids:
            type: array
          id:
            type: number
          iteration_id:
            type:
              - 'null'
              - number
          label_ids:
            type: array
          labels:
            type: array
          linked_file_ids:
            type: array
          member_mention_ids:
            type: array
          mention_ids:
            type: array
          moved_at:
            type: string
          name:
            type: string
          num_tasks_completed:
            type: number
          owner_ids:
            items:
              type: string
            type: array
          position:
            type: number
          previous_iteration_ids:
            type: array
          requested_by_id:
            type: string
          started:
            type: boolean
          started_at:
            type:
              - 'null'
              - string
          stats:
            properties:
              num_related_documents:
                type: number
            type: object
          story_links:
            type: array
          story_type:
            type: string
          task_ids:
            items:
              type: number
            type: array
          updated_at:
            type: string
          workflow_id:
            type: number
          workflow_state_id:
            type: number
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.app.shortcut.com/api/v3/
        path: stories/search
        http_method: POST
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: Shortcut-Token
        request_body_json:
          includes_description: 'true'
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      partition_router: []
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      cursor_datetime_formats:
        - '%Y-%m-%dT%H:%M:%SZ'
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      start_time_option:
        inject_into: body_json
        field_name: updated_at_start
        type: RequestOption
      end_time_option:
        inject_into: body_json
        field_name: updated_at_end
        type: RequestOption
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - start_date
      - api_key
    properties:
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
        order: 0
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 1
    additionalProperties: true
  type: Spec
metadata:
  autoImportSchema:
    stories: true
